{% extends "mytemplate.html" %}
{% block bodycontent%}

<style>
h1 {
text-align: center
   }

form {
  text-align: lift;
}
nav {

  text-align: right;
}
  nav{
  background-color: #666;
  padding: 20px;
  text-align: right;
  font-size: 30px;
  color: red;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

</style>

<h1>Foodmin</h1>

<form action="/register" method="post">

  <label for="restoename">Resto name:</label><br>
  <input type="text" name="uname" required/>
  <br>

  <label for="fooditemid">Food id:</label><br>
  <input type="foodid" name="id" required>
  <br>

  <label for="restoloaction">Resto location:</label><br>
  <input type="location" name="text" required>
  <br>

  <label for="fooditemname">Food Name:</label><br>
  <input type="item" name="item" required>
  <br>

  <label for="preperationcost">Preperation cost:</label><br>
  <input type="cost" name="precost" required>
  <br>

  <label for="sellingprice">Selling price:</label><br>
  <input type="price" name="sele price" required>
  <br>

  <label for="description">Description:</label><br>
  <input type="text" name="text" required>
  <br>


    <input type="submit" value="Click Here To Register">
</form>

<footer>
  <p>Copyright @ 2022 Online Food Court</p>
</footer>
{% endblock %}
