<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MyWebSite.com</title>
</head>
<body>


<h1>TextLogo</h1>

<hr> <!--Put Line-->

<nav>
    <a href="/">Home</a>|
    <a href="/about">About</a>|
    <a href="/login">Login</a>|
</nav>

<hr> <!--Put Line-->
<div class="row">
  <div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>

<h1>Welcome to About Page.</h1>
<p>This is about page</p>

</body>
</html>